@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Belanosima:wght@400;600;700&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    color: #372C0D;
}

.header-top .navbar-brand {
    position: relative; /* Ensure this container is positioned relatively */
    bottom: -17px; /* Adjust this value to control the overlap */
    left: 5%; /* Center the logo horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
    z-index: 1020; /* Ensures the logo is above the navbar */
    
}

.logo-height {
    height: auto; /* Adjust based on your logo's aspect ratio */
    max-height: 24vh; /* Adjust this value to fit the logo appropriately */
    width: auto; /* Keep the logo responsive */
    filter: drop-shadow(0 6px 8px rgba(0,0,0,0.3)); /* Stronger shadow */
}

.btn-consultation {
    margin-right: 158px; /* Aligns the button to the right edge if needed */
    margin-bottom: 80px;
}


.btn-consultation {
    background-color: #B74E1F;
    color: #ECEBEB;
    font-family: 'Bai Jamjuree', sans-serif; /* Add the font family */
    font-weight: 500; /* Adjust weight as needed */
    font-size: 20px; /* Or any size you prefer */
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    filter: drop-shadow(0 6px 8px rgba(0,0,0,0.2));
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-consultation:hover, .btn-consultation:focus {
    background-color: #D9734F;
    color: #FFFFFF;
    transform: translateY(-3px);
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
}

.btn-consultation i {
    margin-right: 10px;
}


.navbar {
    margin-top: -6vh; /* As previously set */
    background-color: #DB953E;
    filter: drop-shadow(0 6px 8px rgba(0,0,0,0.3));
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

.nav-divider {
    color: #ffffff; /* White color for the divider */
    padding: 0 15px; /* Adjust horizontal padding for spacing */
    font-size: 24px; /* Increase font size for a larger divider symbol */
    line-height: 1.5; /* Adjust line height to vertically align the divider */
    display: inline-flex; /* Use flex to center the content vertically */
    align-items: center; /* Center align items vertically */
}

/* Ensure nav items are aligned with the increased height of the dividers */
.navbar-nav .nav-item, .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
}

.slideshow {
    height: 70vh; /* Adjust based on your preference */
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: slideshow 40s infinite;
}

@keyframes slideshow {
    0%, 100% { background-image: url('../media/img/hero1.jpg'); }
    20% { background-image: url('../media/img/hero2.jpg'); }
    40% { background-image: url('../media/img/hero3.jpg'); }
    60% { background-image: url('../media/img/hero4.jpg'); } /* Assuming you have only 3 images, adjust if more */
    80% { background-image: url('../media/img/hero5.jpg'); } /* Repeating some images for a smooth cycle */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}


/* Hide dividers on screens smaller than 992px */
@media (max-width: 991.98px) {
    .nav-divider {
        display: none;
    }
}