body {
    font-family: 'Open Sans', sans-serif;
    color: #372C0D;
}

.header-top .navbar-brand {
    position: relative; /* Ensure this container is positioned relatively */
    bottom: -6px; /* Adjust this value to control the overlap */
    left: 5%; /* Center the logo horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
    z-index: 1020; /* Ensures the logo is above the navbar */
}

.logo-height {
    height: auto; /* Adjust based on your logo's aspect ratio */
    max-height: 20vh; /* Adjust this value to fit the logo appropriately */
    width: auto; /* Keep the logo responsive */
}

.btn-consultation {
    margin-right: 158px; /* Aligns the button to the right edge if needed */
    margin-bottom: 80px;
}

.navbar {
    margin-top: -6vh; /* Adjust this value to move the navbar down */
    background-color: #DB953E;
}


.btn-consultation {
    background-color: #B74E1F;
    color: #ECEBEB;
}


.navbar-toggler {
    position: relative;
    left: 38vw;
}


