@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Belanosima:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Belanosima:wght@400;600;700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.header-top .navbar-brand {
    position: relative; /* Ensure this container is positioned relatively */
    bottom: 9px; /* Adjust this value to control the overlap */
    left: 5%; /* Center the logo horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
    z-index: 1020; /* Ensures the logo is above the navbar */
    
}

.logo-height {
    height: auto; /* Adjust based on your logo's aspect ratio */
    max-height: 24vh; /* Adjust this value to fit the logo appropriately */
    width: auto; /* Keep the logo responsive */
    filter: drop-shadow(0 8px 10px rgb(255, 255, 255));
}


.btn-consultation {
    background-color: #94AE21;
    color: #ECEBEB;
    font-family: 'Bai Jamjuree', sans-serif; /* Add the font family */
    font-weight: 500; /* Adjust weight as needed */
    font-size: 20px; /* Or any size you prefer */
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin-right: 158px; /* Aligns the button to the right edge if needed */
    margin-bottom: 80px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    filter: drop-shadow(0 6px 8px rgba(0,0,0,0.2));
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-consultation:hover, .btn-consultation:focus {
    background-color: #c3d809;
    color: #040404;
    transform: translateY(-3px);
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
}

.btn-consultation i {
    margin-right: 10px;
}


.navbar {
    margin-top: -15vh; /* As previously set */
    background-color: #C5C9CC;
    filter: drop-shadow(0 6px 8px rgba(0,0,0,0.3));
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 400;
    transition: background-color 0.3s ease;
    z-index: 50;
}

.nav-divider {
    color: #ffffff; /* White color for the divider */
    padding: 0 15px; /* Adjust horizontal padding for spacing */
    font-size: 24px; /* Increase font size for a larger divider symbol */
    line-height: 1.5; /* Adjust line height to vertically align the divider */
    display: inline-flex; /* Use flex to center the content vertically */
    align-items: center; /* Center align items vertically */
}

/* Ensure nav items are aligned with the increased height of the dividers */
.navbar-nav .nav-item, .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-slideshow-container {
    position: relative;
    height: 70vh; /* Define a fixed height for the slideshow container */
}

.slideshow {
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: slideshow 60s infinite;
}

@keyframes slideshow {
    0%, 100% { background-image: url('../media/img/hero1.jpg'); }
    20% { background-image: url('../media/img/hero2.jpg'); }
    40% { background-image: url('../media/img/hero3.jpg'); }
    60% { background-image: url('../media/img/hero4.jpg'); } 
    80% { background-image: url('../media/img/hero5.jpg'); } 
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 70px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-text-container {
    max-width: 30%; /* Adjust the maximum width of the overlay container */
    margin-left: -60%; /* Adjust the left margin as needed */
    margin-bottom: 0%; /* Adjust the bottom margin as needed */
    display: flex; /* Use flexbox */
    justify-content: flex-start; /* Align items to the start of the container (left side) */
}


.overlay-text {
    text-align: center;
    background-color: #ccccccc0;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    transition: box-shadow 0.3s ease; /* Add transition for hover effect */
}

.overlay-text:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); /* Adjust shadow on hover */
}

.overlay-text h1 {
    color: #000000; /* Adjust text color */
    margin: auto;
}

.backgroundcont {
    background-color: #011c4cc0;
    padding: 1%; /* Add padding as needed */
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for depth */

}

.container {
    max-width: 800px; /* Adjust maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
}

.buttons-container p {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}


.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust spacing between buttons */
}

.button {
    background-color: #8ba610; /* Button background color */
    cursor: pointer;
    text-align: center;
    color: #ffffff; /* Button text color */
    border-radius: 5px; /* Adjust border radius for rounded corners */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.button:hover {
    background-color: #c3d809; /* Adjust background color on hover */
}

.button-text {
    text-decoration: none; /* Remove default underline */
    font-size: 2rem; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
}

/* Styles for services section */
.services {
    padding: 120px 0;
    background-image: url('../media/img/servbck.png');
    background-size: cover;
    background-color: #fcfeff;
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
}

.section-title {
    text-align: center;
    margin-top: -80px;
    margin-bottom: 80px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
}

.service-item h3 {
    font-family: "Bai Jamjuree", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.service-item {
    text-align: center;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.service-item i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #242424;
}


.service-item p {
    font-size: 13px;
    line-height: 1.6;
    color: #147cf3;
}


.additional-info {
    display: none;
    margin-top: 20px;
    padding-top: 20px;
}

.additional-info p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.additional-info ul {
    list-style-type: none;
    padding: 0;
}

.additional-info ul li {
    margin-bottom: 10px;
}

.additional-info ul li:before {
    content: '\2022';
    color: #007bff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}



.abt-us {
    padding: 120px 0;
    background-image: url('../media/img/abtus.png');
    background-size: cover;
    background-color: #fcfeff;
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
}

.about-content {
    background-color: rgba(255, 255, 255, 0.954); /* Adjust the background color and opacity as needed */
    padding: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));

}

.company-name {
    font-family: 'Belanosima', sans-serif; /* Heading font */
    color: #007bff; /* Blue color for company name */
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 50px;
}

.about-content strong {
    font-family: 'Belanosima', sans-serif; /* Strong emphasis font */
    font-weight: 100;
    font-size: large;
    color: #0aac30; /* Green color for emphasis */
}

.section-title-cnt  {
    text-align: center;
    margin-top: -150px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
}

.cnt-us {
    padding: 120px 0;
    background-image: url('../media/img/contact.png');
    background-size: cover;
    background-color: #fcfeff;
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
}

.cnt-us .container {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.559));
}

.cnt-us .container h2 {
    text-align: center;
    margin-bottom: 40px;
}

.cnt-us form {
    max-width: 600px;
    margin: 0 auto;
}

.cnt-us .form-group {
    margin-bottom: 20px;
}

.cnt-us label {
    font-weight: bold;
}

.cnt-us input[type="text"],
.cnt-us input[type="email"],
.cnt-us input[type="tel"],
.cnt-us textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.cnt-us textarea {
    resize: vertical;
}

.cnt-us button[type="submit"] {
    width: 100%;
}

.footer {
    background-color: #000;
    padding: 20px 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-brand {
    margin-right: 20px;
}

.footer-logo {
    width: 100px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-menu-item {
    margin-right: 10px;
}

.footer-menu-divider {
    color: #fff;
    margin: 0 5px;
}

.footer-menu-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-menu-link:hover {
    color: #94AE21;
}

.footer-text {
    text-align: center;
    margin-top: 10px;
    color: #fff;
}


/* Hide dividers on screens smaller than 992px */
@media (max-width: 376px) {

    body, html {
        overflow-x: hidden;
    }
    

    .header-top .navbar-brand {
        position: relative; /* Ensure this container is positioned relatively */
        bottom: -16px; /* Adjust this value to control the overlap */
        left: 50%; /* Center the logo horizontally */
        transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
        z-index: 1020; /* Ensures the logo is above the navbar */
    }

    .logo-height {
        height: 15%; /* Adjust the height as needed */
        width: auto; /* Keep the logo responsive */
    }
    
    .overlay-container{ 
    position: absolute;
    top: 0;
    left: 5px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    }

    .overlay-text {
        text-align: center;
        background-color: #ccccccb6;
        font-family: "Fjalla One", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        padding: 20px; /* Adjust padding as needed */
        border-radius: 10px; /* Add border radius for rounded corners */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
        transition: box-shadow 0.3s ease; /* Add transition for hover effect */
    }
    
    .overlay-text h1 {
        font-size: 1.5rem;
        color: #000000; /* Adjust text color */
        margin: auto;
        filter: drop-shadow(0 8px 10px rgb(255, 255, 255));

    }

    .btn-consultation {
        background-color: #94AE21;
        color: #ECEBEB;
        font-family: 'Bai Jamjuree', sans-serif; /* Add the font family */
        font-weight: 500; /* Adjust weight as needed */
        font-size: 10px; /* Or any size you prefer */
        padding: 2px 30px;
        margin-left: 18%;
    }

  

    .backgroundcont {
        position: relative;
        bottom: 40px;
        font-size: 10px;
    }

    .button-text {
        font-size: 20px;
    }

    .services {
        position: relative;
        padding: 155px 0;
        bottom: 40px;
        background-image: url('../media/img/servbck.png');
        background-size: cover;
        background-color: #fcfeff;
        filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
    }

    .section-title {
        font-size: 3rem;
    }
  
    .abt-us {
        position: relative;
        padding: 0px 0;
    }
    
    .section-title-cnt {
        font-size: 3rem;
        position: relative;
        bottom: 9px;
    }


    .footer-brand {
        margin-left: -90px;
    }

    .footer-logo {
        position: relative;
        bottom: 100px;
        transform: translateX(290%); /* Adjust horizontal positioning to truly center it */
        height: 100px;
        width: auto;
    }
}

@media (min-width: 376px) and (max-width: 431px) {

    body, html {
        overflow-x: hidden;
    }
    

    .header-top .navbar-brand {
        position: relative; /* Ensure this container is positioned relatively */
        bottom: 3px; /* Adjust this value to control the overlap */
        left: 50%; /* Center the logo horizontally */
        transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
        z-index: 1020; /* Ensures the logo is above the navbar */
    }

    .logo-height {
        height: 5%; /* Adjust the height as needed */
        width: auto; /* Keep the logo responsive */
    }
    
    .overlay-container{ /* Specialising etc etc */
    position: absolute;
    top: 0;
    left: 5px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    }

    .overlay-text { /* Specialising etc etc */
        text-align: center;
        background-color: #ccccccb6;
        font-family: "Fjalla One", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        padding: 20px; /* Adjust padding as needed */
        border-radius: 10px; /* Add border radius for rounded corners */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
        transition: box-shadow 0.3s ease; /* Add transition for hover effect */
    }
    
    .overlay-text h1 { /* Specialising etc etc */
        font-size: 1.5rem;
        color: #000000; /* Adjust text color */
        margin: auto;
        filter: drop-shadow(0 8px 10px rgb(255, 255, 255));

    }

    .btn-consultation {
        background-color: #94AE21;
        color: #ECEBEB;
        font-family: 'Bai Jamjuree', sans-serif; /* Add the font family */
        font-weight: 500; /* Adjust weight as needed */
        font-size: 10px; /* Or any size you prefer */
        padding: 2px 30px;
        margin-left: 22%;
    }

    .backgroundcont {
        position: relative;
        top: 0px;
        font-size: 13px;
    }

    .button-text {
        font-size: 20px;
    }

    .services {
        position: relative;
        padding: 155px 0;
        top: 0px;
        background-image: url('../media/img/servbck.png');
        background-size: cover;
        background-color: #fcfeff;
        filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
    }

    .section-title {
        font-size: 3rem;
    }
  
    .abt-us {
        position: relative;
        padding: 0px 0;
    }
    
    .section-title-cnt {
        font-size: 3rem;
        position: relative;
    }

    .form-group {
    position: relative; 
    top: 20px;
   }

    .footer-brand {
        margin-left: -90px;
    }

    .footer-logo {
        position: relative;
        bottom: 100px;
        transform: translateX(290%); /* Adjust horizontal positioning to truly center it */
        height: 100px;
        width: auto;
    }
}

@media (min-width:431px) and (max-width: 769px) {

    body, html {
        overflow-x: hidden;
    }
    

    .header-top .navbar-brand {
        position: relative; /* Ensure this container is positioned relatively */
        bottom: -1px; /* Adjust this value to control the overlap */
        left: 50%; /* Center the logo horizontally */
        transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
        z-index: 1020; /* Ensures the logo is above the navbar */
    }

    .logo-height {
        height: 5%; /* Adjust the height as needed */
        width: auto; /* Keep the logo responsive */
    }
    
    .overlay-container{ 
    position: absolute;
    top: 0;
    left: 5px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    }

    .overlay-text {
        text-align: center;
        background-color: #ccccccb6;
        font-family: "Fjalla One", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        padding: 20px; /* Adjust padding as needed */
        border-radius: 10px; /* Add border radius for rounded corners */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
        transition: box-shadow 0.3s ease; /* Add transition for hover effect */
    }
    
    .overlay-text h1 {
        font-size: 1.5rem;
        color: #000000; /* Adjust text color */
        margin: auto;
        filter: drop-shadow(0 8px 10px rgb(255, 255, 255));

    }

    .btn-consultation {
        background-color: #94AE21;
        color: #ECEBEB;
        font-family: 'Bai Jamjuree', sans-serif; /* Add the font family */
        font-weight: 500; /* Adjust weight as needed */
        font-size: 10px; /* Or any size you prefer */
        padding: 2px 30px;
        margin-left: 24%;
    }

  
    .backgroundcont {
        position: relative;
        font-size: 20px;
    }
   

    .button-text {
        font-size: 20px;
    }

    .services {
        position: relative;
        padding: 155px 0;
        top: 0px;
        background-image: url('../media/img/servbck.png');
        background-size: cover;
        background-color: #fcfeff;
        filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
    }

    .section-title {
        font-size: 3rem;
    }
  
    .abt-us {
        position: relative;
        padding: 0px 0;
    }
    
    .section-title-cnt {
        font-size: 3rem;
        position: relative;
        bottom: 9px;
    }


    .form-group {
        position: relative; 
        top: 20px;
       }


    .footer-brand {
        margin-left: -90px;
    }

    .footer-logo {
        position: relative;
        bottom: 100px;
        transform: translateX(290%); /* Adjust horizontal positioning to truly center it */
        height: 100px;
        width: auto;
    }
}

@media (min-width:770px) and (max-width: 822px) {

    body, html {
        overflow-x: hidden;
    }
    

    .header-top .navbar-brand {
        position: relative; /* Ensure this container is positioned relatively */
        bottom: -1px; /* Adjust this value to control the overlap */
        left: 50%; /* Center the logo horizontally */
        transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
        z-index: 1020; /* Ensures the logo is above the navbar */
    }

    .logo-height {
        height: 5%; /* Adjust the height as needed */
        width: auto; /* Keep the logo responsive */
    }
    
    .overlay-container{ 
    position: absolute;
    top: 0;
    left: 5px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    }

    .overlay-text {
        text-align: center;
        background-color: #ccccccb6;
        font-family: "Fjalla One", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal;
        padding: 20px; /* Adjust padding as needed */
        border-radius: 10px; /* Add border radius for rounded corners */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
        transition: box-shadow 0.3s ease; /* Add transition for hover effect */
    }
    
    .overlay-text h1 {
        font-size: 1.5rem;
        color: #000000; /* Adjust text color */
        margin: auto;
        filter: drop-shadow(0 8px 10px rgb(255, 255, 255));

    }

    .btn-consultation {
        background-color: #94AE21;
        color: #ECEBEB;
        font-family: 'Bai Jamjuree', sans-serif; /* Add the font family */
        font-weight: 500; /* Adjust weight as needed */
        font-size: 10px; /* Or any size you prefer */
        padding: 2px 30px;
        margin-left: 24%;
    }

  
    .backgroundcont {
        position: relative;
        font-size: 20px;
    }
   

    .button-text {
        font-size: 20px;
    }

    .services {
        position: relative;
        padding: 155px 0;
        top: 0px;
        background-image: url('../media/img/servbck.png');
        background-size: cover;
        background-color: #fcfeff;
        filter: drop-shadow(0 8px 10px rgba(0,0,0,0.3));
    }

    .section-title {
        font-size: 3rem;
    }
  
    .abt-us {
        position: relative;
        padding: 0px 0;
    }
    
    .section-title-cnt {
        font-size: 3rem;
        position: relative;
        bottom: 9px;
    }


    .form-group {
        position: relative; 
        top: 20px;
       }


    .footer-brand {
        margin-left: -90px;
    }

    .footer-logo {
        position: relative;
        bottom: 100px;
        transform: translateX(290%); /* Adjust horizontal positioning to truly center it */
        height: 100px;
        width: auto;
    }
}

@media (min-width: 823px) and (max-width: 1025px) {
    body, html {
        overflow-x: hidden;
    }
    

    .header-top .navbar-brand {
        bottom: 10px; /* Adjust this value to control the overlap */
        left: 11%; /* Center the logo horizontally */
        transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
        z-index: 1020; /* Ensures the logo is above the navbar */
    }

    .logo-height {
        height: 400px; /* Adjust the height as needed */
        width: auto; /* Keep the logo responsive */
    }

    .btn-consultation {
        margin-left: 52%;
        margin-top: -40px;
    }

    .backgroundcont {
        position: relative;
        font-size: 25px;
    }
   

    .button-text {
        font-size: 35px;
    }

}

@media (min-width: 1026px) and (max-width: 1367px) {
    .header-top .navbar-brand {
        bottom: 10px; /* Adjust this value to control the overlap */
        left: 11%; /* Center the logo horizontally */
        transform: translateX(-50%); /* Adjust horizontal positioning to truly center it */
        z-index: 1020; /* Ensures the logo is above the navbar */
    }

    .logo-height {
        height: 400px; /* Adjust the height as needed */
        width: auto; /* Keep the logo responsive */
    }

    .btn-consultation {
        margin-left: 20%;
        margin-top: -40px;
    }

 
   

    
}

@media (max-width: 991.98px) {
    .nav-divider {
        display: none;
    }
}